<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Generation</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>chart details:</h1>

        <h2>{{labels}}</h2>
        <canvas id="lineChart" width="700", height="600"></canvas>
        <script>
            let ctx = document.getElementById("lineChart").getContext("2d");
            let lineChart = new Chart(ctx, {
                type: "line",
                data : {
                    labels : {{ labels | safe }}
                    datasets: [
                    {
                        label: "Data Points",
                        data: {{ values | safe }},
                        fill:false,
                        borderColor: "green",
                        lineTension: 0.1
                    }]
                },
                options : {
                    responsive: false
                }
            });
        </script>
    </div>
</body>
</html>