<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="app-container">
        <div>
            <h1>Select your choice</h1>  
            <a href="add.html">Add User</a><br><br>  
            <a href ="view.html">View Records</a><br><br>  
            <a href="delete.html">Delete Record</a><br><br> 
            <a href="update.html">Update Record</a><br><br> 
        </div>
    </div>
</body>
</html>